<section>
    <div class="common-section">
        <div class="container ">
            <div class="headingDiv">
                <h2>ACCOUNT</h2>
                <i style="margin: 16px;" class="fa fa-user-plus" aria-hidden="true" (click)="addUserFunc()"></i>
            </div>
            <div class="row">
                <div class="col-xl-3 col-l-3 borderClass">
                    <div class="row">
                        <div class="col-12">
                            <div class="user-profile mt-5">
                                <div class="image-box">
                                    <img src="assets/img/user.png" />
                                    <label class="upload-label">
              <input
                type="file"
                name=""
                accept=".png, .jpg, .jpeg"
               
              />
              <i class="fa fa-camera"></i>
            </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="ml-5">
                                <h4>Welcome Aashish!</h4>
                                <p>You can view,edit and add profiles here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-l-9 ">
                    <div class="borderClass ">
                        <div class="row mt-5 ml-3 mr-3">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label  class="col-4 col-form-label">Full Name</label
                                >
                                <div class="col-8">
                                  <input
                                    type="text"
                                    class="form-control"                                   
                                    value="Aashish Soam"
                                  />
                                </div>
                              </div>
                              <div class="form-group row">
                                <label                                 
                                  class="col-4 col-form-label"
                                  >Email</label
                                >
                                <div class="col-8">
                                  <input
                                    type="email"
                                    class="form-control"                                   
                                    placeholder="ashishsoam123@gmail.com"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-6">                             
                                <div class="form-group row">
                                  <label
                                    for="inputPassword"
                                    class="col-4 col-form-label"
                                    >Mobile</label
                                  >
                                  <div class="col-8">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="inputPassword"
                                      placeholder="+918938084598"
                                    />
                                  </div>
                                </div>
                              </div>
                                             
                            </div>
                        <div class='borderbox ml-3 mr-3'>
                            <table class="table table-hover table-fixed">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Country</th>
                                        <th>Relation</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
    
                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Aashish</td>
                                        <td>Soam</td>
                                        <td>India</td>
                                        <td>Son</td>
                                        <td>Active</td>
                                        <td class='iconClass'><i class="fa fa-eye" aria-hidden="true" (click)="viewUserProfile()"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Aashish</td>
                                        <td>Soam</td>
                                        <td>India</td>
                                        <td>Son</td>
                                        <td>Active</td>
                                        <td class='iconClass'><i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Aashish</td>
                                        <td>Soam</td>
                                        <td>India</td>
                                        <td>Son</td>
                                        <td>Active</td>
                                        <td class='iconClass'><i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Aashish</td>
                                        <td>Soam</td>
                                        <td>India</td>
                                        <td>Son</td>
                                        <td>Active</td>
                                        <td class='iconClass'><i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                                    </tr>
    
                                </tbody>
                                <!--Table body-->
                            </table>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>